<html>
    <head>
        <link rel="stylesheet" href="/index.css">
        <title>Sign Up - Oceanic Airlines</title>
    </head>
    <body>
        <nav>
            <div>
                <div class="left">
                    <h1><img src="/logo.png" class="logo"></h1>
                </div>
                <div class="right">
                    <b>Sign Up</b>
                </div>
            </div>
        </nav>
        <div class="content">
            <h1>Create Your Account</h1>
            <p>With your Oceanic Airlines account, you can book tickets and collect frequent flyer miles, all in one convienent account. <b>It's that easy!</b></p>
            <br>
            {% if marquee %}
            <marquee><p class="err"><b>Error!</b> {{ error }}</p></marquee>
            {% else %}
            <p class="err"><b>Error!</b> {{ error }}</p>
            {% endif %}
            <br>
            <form action="sign_up" method="post">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="Create Account">
                </form>
        </div>
    </body>
</html>