<html>
    <head>
        <link rel="stylesheet" href="/index.css">
        <title>Sign Up - Oceanic Airlines</title>
    </head>
    <body>
        <nav>
            <div>
                <div class="left">
                    <h1><img src="/logo.png" class="logo"></h1>
                </div>
                <div class="right">
                    <b>Sign Up</b>
                </div>
            </div>
        </nav>
        <div class="content">
            <h1>Account Created!</h1>
            <p><b>Just kidding!</b> There's no database here. We're not even a licensed airline! But I heard you may be looking for this:</p>
            <br>
            <p class="flag">{{ flag }}</p>
        </div>
    </body>
</html>